<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-about">
   <h1>About</h1>

   <P>This website is created by GoldMiner!</p>
  </div>
 </body>
</html>
