<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>MEN - Board</h1>
    <P>This website is created by GoldMiner! </p>
   </div>
  </div>
 </body>
</html>
